<footer class="footer" role="contentinfo">
    <div class="quicklink-bar">
        <div class="container">
            {{#if customer}} 
                <ul>
                    <li class="quick"><a href="/resources/quick-order/">Quick Order</a></li>
                    <li class="order"><a href="/resources/check-order-status/">Check Order Status</a></li>
                    <li class="invoice"><a href="/resources/pay-invoice/">Pay Invoice</a></li>
                    <li class="account"><a href="/account.php?action=order_status">My Account</a></li>
                </ul>
            {{else}}
                 <ul>
                    <li class="quick"><a href="/resources/quick-order/">Quick Order</a></li>
                    <li class="order"><a href="/resources/check-order-status/">Check Order Status</a></li>
                    <li class="invoice"><a href="/resources/pay-invoice/">Pay Invoice</a></li>
                    <li class="account"><a href="{{urls.auth.create_account}}">Create Account</a></li>
                </ul>
            {{/if}}
        </div>
    </div>
    <div class="footer-bottom">
    <div class="container">       
        <section class="footer-info">
            {{#if customer}}
            <article class="footer-info-col footer-info-locator">
                <h5 class="footer-info-heading">Your Territory Manager</h5>
                <div class="TM_Detail">
                        <img class="TM_Image" src="" alt="Territory Manager"/>
                        <p class="NameMn"><strong class="TM_name"></strong></p>
                        <span class="PhoneMn"><a href="" class="TM_phone"></a></span>
                        <span class="EmailMn"><a href="" class="TM_email"></a></span>
                    </div>
            </article> 
            {{else}} 
            <article class="footer-info-col footer-info-locator">
                <div class="BeforeSearch hide">
                <h5 class="footer-info-heading">Territory Manager Locator</h5>
                <p>Please enter your zip code below to find <span>a Territory Sales Manager near you.</span></p>
                <form name="searchTM" id="searchTM" action="#" method="post">
                    <input type="text" for="finding TM" name="zipcode" id="zipcode" class="form-input" placeholder="Your Zip Code">
                    <input type="submit" for="submitTM" id="submitTM" value="Search" class="gray-button">
                </form>
                </div>
                <div class="DetailsTM hide" style="display: none;">
                    <h5 class="footer-info-heading">Your Territory Manager</h5>
                    <div class="TM_Detail">
                        <img class="TM_Image" src="" alt="Territory Manager"/>
                        <p class="NameMn"><strong class="TM_name"></strong></p>
                        <span class="PhoneMn"><a href="" class="TM_phone"></a></span>
                        <span class="EmailMn"><a href="" class="TM_email"></a></span>
                    </div>
                </div>
            </article>
            {{/if}}
            <article class="footer-info-col footer-info-about">
                <h5 class="footer-info-heading">ABOUT US</h5>
                <ul class="footer-info-list">                   
                    <li><a href="/our-story/">Our Story</a></li>
                    <li><a href="/career-opportunities/">Careers</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/press/">Press</a></li>
                    <li><a href="/demdaco-showrooms-events/">Showrooms </a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-support">
                <h5 class="footer-info-heading">SUPPORT</h5>
                <ul class="footer-info-list">
                    <li><a href="/customer-support/">Customer Care</a></li>
                    <li><a href="/resources/check-order-status/">Track Your Order</a></li>
                    <li><a href="/shipping-returns/">Shipping & Returns</a></li>
                    <li><a href="/faqs/">FAQs</a></li>
                    <li><a href="/recall-information/">Recall Information</a></li>
                    <li><a href="/authorized-retailer-policy/">Authorized Dealer</a></li>
                    <li><a href="{{urls.auth.create_account}}">Become a Retailer</a></li>
                </ul>
            </article>

             {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h5 class="footer-info-heading">{{lang 'footer.brands'}}</h5>
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
            </article>
            {{/and}}

            <article class="footer-info-col footer-info-contact">
            <div class="footer-info-storeinfo">
                <h5 class="footer-info-heading">CONTACT US</h5>
                <!--<address>{{nl2br settings.address}}</address>-->
                <div class="phone-div">
                    <p><a href="tel:+18883363226">888.336.3226</a> <span>Mon - Fri, 8am - 5pm CT</span></p>
                </div>
                <div class="email-div">
                    <p><a href="mailto:customercare@demdaco.com">customercare@demdaco.com</a></p>
                </div>
                <div class="newsletter-div">
                    <p>Receive special offers and get the latest updates.</p>

                    <form method="post" action="https://enews.demdaco.com/q/QYbpN1M4CDIpxBtzGwZKT8oWDJO6xHvZvM2_v2dEcdOXeA5KRzEwbV_Xr" accept-charset="UTF-8">
                        <input type="hidden" name="crvs" value="W4c20Lhj6sHd3Q7LGWrznQnggcexAZJ85p9s3r9bGXwv9PFXr7IEdyPgRO2J2et4vqG3nO5ElnZZAlCIkcC9qFOLKGqf0g8hpe6OqLMr0BN8hFkzoCEc0oCYKGs9gILq"/>
                        <input type="hidden" name="CheckBox.Source of Opt-In.Footer" value="on"> 
                        <div class="form-field">
                            <div class="form-prefixPostfix wrap">
                                <input for="footerList" class="form-input" type="text" name="email" id="footerList" size="40" maxlength="100" value="" placeholder="Your email address" />
                                 <input for="submit" class="gray-button" type="submit" id="submit" value="Sign Up"/>
                                <!-- These next 3 fields are for system use, please do not remove -->
                                <input type="text" for="Name" name="NameF" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
                                <input type="text" for="Name" name="NameL" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
                                <input type="text" for="Comment" name="Comment" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
                            </div>
                        </div>
                    </form>
                       
                {{> components/common/payment-icons}}
                </div>
                {{> components/common/social-links}}
                </div>
            </article>
           
        </section>      
                     
       
            <div class="footer-copyright">
                <p class="powered-by">&copy; DEMDACO 2005-{{moment format="YYYY"}}  All Rights Reserved.</p>
                <ul>
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="/terms-and-conditions/">Terms and Conditions</a></li>
                    <li><a href="/gcc-cpsia-compliance/">GCC-CPSIA Compliance</a></li>
                    <li><a href="/sitemap.php">Site Map</a></li>
                </ul>                
            </div>

    </div>
</div>


{{#if customer}}
{{else}}
<div class="footer-sign-btn">
    <a data-reveal-id="popupLoginWindow" href="{{urls.auth.login}}">Sign In</a>
</div>
{{/if}}

<script type="text/javascript">    
	(function(){if(typeof _ltk == 'object'){ltkCode();}else{(function (d) { if (document.addEventListener) document.addEventListener('ltkAsyncListener', d); else { e = document.documentElement; e.ltkAsyncProperty = 0; e.attachEvent('onpropertychange', function (e) { if (e.propertyName == 'ltkAsyncProperty') { d(); } }); } })(function(){ltkCode();});}function ltkCode(){_ltk_util.ready(function(){
		/********** Begin Custom Code **********/
		_ltk.SCA.CaptureEmail('footerList');
		/********** End Custom Code ************/
	})}})();
</script>

</footer>
<script type="text/javascript" src="https://www.demdacoretailers.com/content/quick-order/base64.js"></script> 
<script type="text/javascript" src="https://www.demdacoretailers.com/content/quick-order/qoapi.js"></script> 
<script type="text/javascript">
$(".search-div .is-srOnly").click(function(){
  $(".form-field").slideToggle();
});
$(".artistcategory .LeftCategories ul li.firstlevel > .icon").click(function(){
  $(this).parent().toggleClass('active');
  $(this).next(".subnavList").slideToggle();
});
$(document).ready(function() {
$(".back-arw").hide();
//$(".navPage-subMenu").hide();


$(".navPages-item.has-subMenu .navPages-action-moreIcon").click(function(){  
  $(this).next().show().addClass('menuactive');
  $(this).next().find (".back-arw").show();
  $('.navPages').addClass('active');
  $(this).parent('.navPages-item.has-subMenu').addClass('active');
});


$(".back-arw").click(function(){  
  $(this).parent().parent().hide().removeClass('menuactive');;
  $('.navPages').removeClass('active');
  $(this).parent('.navPages-item.has-subMenu').removeClass('active');
  
});

$(".level-2 .back-arw").click(function(){  
  $(this).parent().parent().parent().hide().removeClass('menuactive');;
  $('.navPages').removeClass('active');
  $(this).parent('.navPages-item.has-subMenu').removeClass('active');
  
});
$(".level-3 .back-arw").click(function(){  
  $(this).parent().parent().parent().hide().removeClass('menuactive');;
  $('.navPages').removeClass('active');
  $(this).parent('.navPages-item.has-subMenu').removeClass('active');
  
});
$(".level-4 .back-arw").click(function(){  
  $(this).parent().parent().parent().hide().removeClass('menuactive');;
  $('.navPages').removeClass('active');
  $(this).parent('.navPages-item.has-subMenu').removeClass('active');
  
});
$(".level-5 .back-arw").click(function(){  
  $(this).parent().parent().parent().hide().removeClass('menuactive');;
  $('.navPages').removeClass('active');
  $(this).parent('.navPages-item.has-subMenu').removeClass('active');
  
});

$(document).on('click', '.custom_toggle .toggle_btn', function(e){
            e.preventDefault();
            $('.custom_toggle .toggle_btn').removeClass('is-open');
            $('.toggle_content.is-active').removeClass('is-active').slideUp();
            $(this).addClass('is-open');
            $(this).next('.toggle_content').addClass('is-active').slideDown();           
        });
});

// Redirect url after login 
/*$(document).ready(function(){
    var userlogin = $('body').hasClass('CustomerNotSignIn'); 
    if(userlogin==true){
        if(window.location.href!='https://www.demdacoretailers.com/login.php'){
            // Store
            sessionStorage.setItem("lasturl",window.location.href);
        }
    }

    if(userlogin==false){
        var lastURL = sessionStorage.getItem("lasturl");
        if(lastURL!=''){
            sessionStorage.setItem("lasturl",'');
             // Retrieve
            window.location.href=lastURL;
        }
    }        
}); */
</script>

<!-- Header Nav [start] -->
<script type='text/javascript'>
$(document).ready(function(){
$(".head-left #shopcategory").hover(
  function () {
    $('.navPage-subMenu').stop().animate({"opacity": "1"}, "fast");  
    $('#shopcategory div.navPage-subMenu').css({"visibility":"visible"});
  },
  function () {
   $('.navPage-subMenu').stop().animate({"opacity": "0"}, "fast");  
   $('#shopcategory div.navPage-subMenu').css({"visibility":"hidden"});
  }
);

$('ul.navPage-subMenu-list.level-1').on('mouseleave', function() {
 $('#shopcategory div.navPage-subMenu').css({"visibility":"hidden"});
});


});
</script>


<script>
$(window).bind("load resize scroll",function(e){
 var textH = $(".bsh").outerHeight();
 var vertAlign = ((53 + textH));
 var svertAlign = ((53 + textH));
 $("#menu .navPage-subMenu").css({ 'top' : vertAlign });
 $("#menu").css({ 'top' : svertAlign });
 $("#menu .navPage-subMenu").css( { height: 'calc(100% - ' + vertAlign + 'px)' } );
});
</script>
<!-- Header Nav [CLOSE] -->


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

<script type="text/javascript">
var categorynm = '{{category.name}}';
//console.log(categorynm);
$.ajax({
    url: "https://dev-demdaco.stage-codal.net/index.php/api/v1/categoryslider?category="+categorynm,
    method: "GET",
    contentType: false,
   success: function (data) {
      if(data!=''){
           $('#categorySlider').css({'display':'block'});    
       }
      $('#categorySlider').append(data);
        $('#categorySlider').html( $('.brandGrid', $(data)).html() );
        $('#categorySlider').slick({
         "dots": true,        
         "infinite": false,
         "mobileFirst": true,
         "arrows": true,
         "slidesToShow": 3,
         "slidesToScroll": 3,
         "responsive": [
            {
               "breakpoint": 1279,
               "settings": {
                  "slidesToShow": 3,
                  "slidesToScroll": 3
               }
            },
            {
               "breakpoint": 599,
               "settings": {
                  "slidesToShow": 3,
                  "slidesToScroll": 3
               }
            },
            {
               "breakpoint": 0,
               "settings": {
                  "slidesToShow": 2,
                  "slidesToScroll": 2,
                  "arrows": false
               }
            }
         ]
      });
   },
    error: function (e) {
      console.log(e);
    }
});

// search TM using zipcode
$(document).on('click', '#submitTM', function(e){
      $(".error").remove();
      $zipcod = $('#zipcode').val();
      if($zipcod!=''){
          get_tm_data($zipcod);  
          return false;
      }else{
         $('#zipcode').after('<div class="error" style="color:#9a3324">Please enter valid zipcode.</div>');
         return false;
      }
});



function get_tm_data($zipcod){
   $.ajax({
               url: 'https://dev-demdaco.stage-codal.net/index.php/api/v1/territorymanager',
               method: 'POST',
               data: { zipcode: $zipcod},  // 17232
               dataType: 'json',
               crossDomain: true,
               async: true,
               success: function (data) {
                    if(data.TMReturnStatus=='Success'){
                        $('.BeforeSearch').css({"display":"none"});
                        $('.DetailsTM').css({"display":"block"});
                        $('.TM_name').html(data.TMName);
                        $('.TM_phone').html(data.TMPhoneNumber);
                        $('.TM_phone').attr("href","tel:"+data.TMPhoneNumber);
                        $('.TM_email').html(data.TMEmail);
                        $('.TM_email').attr("href","mailto:"+data.TMEmail);
                        if(data.TMPhotoURL){
                            $('.TM_Image').attr("src",data.TMPhotoURL);
                        }else{
                            $('.TM_Image').css({"display":"none"});
                        }
                        

                    }else{
                       $('.DetailsTM').css({"display":"none"});
                       $('#zipcode').after('<div class="error" style="color:#9a3324">Please enter another zipcode.</div>');
                    }
                },
                error: function (e) {
                    //error
                    console.log(e);
                }

         });
}



var custid ='{{customer.id}}';;
var auth = demo();

function getDemDecoData(getCustomerURL){
var data;
$.ajax({
      url: getCustomerURL,
      method: 'GET',
      dataType: 'json',
      crossDomain: true,
      async: false,
      beforeSend : function(req) {  
         req.setRequestHeader('Authorization', auth);
      },
      success: function(response){
         try{
            data = response[0].zip;
         }catch(error){
            data = '0';
         }  
      }
   });
   return data;
}
var getCustomerURL = "/api/v2/customers/"+custid+"/addresses.json";
//var getCustomerURL = "/api/v2/customers/80.json";
$user_zip = getDemDecoData(getCustomerURL);

if($user_zip!='0'){
    get_tm_data($user_zip);
}

// global legacy API function
function globalLegacyAPI(apiURL){
    var data;
    $.ajax({
          url: apiURL,
          method: 'GET',
          dataType: 'json',
          crossDomain: true,
          async: false,
          beforeSend : function(req) {  
             req.setRequestHeader('Authorization', auth);
          },
          success: function(response){
             try{
                data = response;
             }catch(error){
                data = '0';
             }  
          }
       });
       return data;
}

// Call customer API.
if(custid!=''){
    var apiUrl = "/api/v2/customers/"+custid+".json";
    $customerRes = globalLegacyAPI(apiUrl);
    $notes = $customerRes.notes;
    if($notes)
      $notes_aray = JSON.parse($notes);

    if($notes=='' || $notes_aray.on_hold =='false' || $notes_aray.on_hold == false){
      $('body').addClass('accountActive');
    } else if($notes_aray.on_hold =='true' || $notes_aray.on_hold == true ){
      $('body').addClass('accountHold');
    }

}

</script>
