    <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
            <div class="form-field">                
                <input class="form-input" data-search-quick id="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="Search" autocomplete="off">
                <input class="btn" type="submit" value="submit">
            </div> 
        </fieldset>
    </form>
    <section class="quickSearchResults" data-bind="html: results" style="display: none;"></section>

