---
blog:
    posts:
        limit: 9
        pages: 1
        summary: 178
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    {{#unless theme_settings.hide_blog_page_heading }}
        <h1 class="page-heading">Retailer {{ blog.name }}</h1>
	{{/unless}}
	
	 <div class="tag-page">
       {{#each breadcrumbs}}
		{{#if @last}} 
            <h2>
			{{#if url}}
			 '{{name}}'
            {{/if}}
            </h2>
			{{/if}}
        {{/each}}
	</div>
	
	<div class="blog-banner">
		<figure><img src="{{cdn "webdav:blog/blog-main.jpg"}}" alt="People drinking coffee inside a store while an employee helps shoppers in the background" /></figure>
		<h2>Welcome to our B2B Blog — Value-Added Resources for DEMDACO Retailers</h2>
		<p>Posts intended to support our wholesale and retail partners with information about products, artists, merchandising and more...</p>
	</div>
	
	<div class="blog-grid-view">
	{{#each blog.posts}}
        {{> components/blog/post post=this}}
    {{/each}}
	</div>
    {{> components/common/paginator pagination.blog}}
	

<div class="article-by-mail">
	<div class="article-by-mail-in">
		<form method="post" action="https://enews.demdaco.com/q/x0_d5cLWWVOdU2jeM9S0u3xtVRnSJZwSceXPIzIxKSj75rgK9RRr_kP7H" accept-charset="UTF-8">
			<input type="hidden" name="crvs" value="ghmVxJl5nwWCQsNXlj5_7Z3pAtAOSDgNT_B5wmpS4vtoIrM1ZsXYDXctjkHth-Q2yqi7xOluBytWVOLWYLf7fNCHcrktnCNt44r2Ks3VXDQNqwJPEcLjaE8dMsmTyRmS"/>
			<input type="hidden" name="CheckBox.Source of Opt-In.Blog" value="on"/> 
			<div class="abm-form-head">
				<h4>RECEIVE ARTICLES BY EMAIL</h4>
				<p>Sign up below and we’ll deliver new articles directly to your inbox.</p>
			</div>
			<div class="abm-form">
				<div class="abm-form-left">
					<input class="form-input" type="text" name="email" size="40" maxlength="100" value="" placeholder="Your email address"/>
					<!-- These next 3 fields are for system use, please do not remove -->
					<input type="text" name="NameF" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
			      <input type="text" name="NameL" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
			      <input type="text" name="Comment" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
				</div>
				<div class="abm-form-right">
					<input class="gray-button" type="submit" id="submit" value="Sign Up"/>
				</div>
			</div>
		</form>
	</div>
</div>

	
</main>

<script type="text/javascript">
  
    if (window.location.href.indexOf("tag") > -1) {
		$('.blog-banner').hide();
		$('.tag-page').show();
    }
  
</script>

{{/partial}}
{{> layout/base}}
