---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
blog:
    posts:
        limit: 5
        pages: 3
        summary: 200
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view schema=true  }}
         
        {{{region name="product_below_content"}}}        

        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}} 
  
 
        <div class="related-none">
        {{#if product.related_products}}
    
            {{#if settings.data_tag_enabled}}
                {{> components/products/carousel products=product.related_products columns=6 list="You Might Also Like"}}
            {{else}}
                {{> components/products/carousel products=product.related_products columns=6}}
            {{/if}}
        {{/if}}
    </div>
        <div class="blog">
        {{#each blog.posts}}
            {{> components/blog/post post=this}}
        {{/each}}
        </div>
    </div>
    
<script type="text/javascript">    
	(function(){if(typeof _ltk == 'object'){ltkCode();}else{(function (d) { if (document.addEventListener) document.addEventListener('ltkAsyncListener', d); else { e = document.documentElement; e.ltkAsyncProperty = 0; e.attachEvent('onpropertychange', function (e) { if (e.propertyName == 'ltkAsyncProperty') { d(); } }); } })(function(){ltkCode();});}function ltkCode(){_ltk_util.ready(function(){
		/********** Begin Custom Code **********/
		_ltk.Activity.AddProductBrowse('{{product.sku}}'); 
		/********** End Custom Code ************/
	})}})();
</script>   
{{/partial}}
{{> layout/base}}

<script>
var bloglen = $('.artist-right .artistName .artistNameBlog').text().length;

if(bloglen > 1){
var artistNameBlog = $('.artistNameBlog').html();
var artistNameBlogn = artistNameBlog.replace(/ /g,'-');
   $.ajax({
		type: "GET",
		url: "/blog/tag/"+artistNameBlogn+"?limit=3",    
		success: function(msg) {                
            var html = $(msg);
            var starts = html.find('.blog-grid-view').html();
			//console.log(starts.length);
			if(starts.length > 10){
             $(".page-product .BlogPDP").html(starts);
			  }else{
					$.ajax({
					  type: "GET",
					  url: "/blog?limit=3",    
					  success: function(msg) {    
						  var html = $(msg);
						  var starts = html.find('.blog-grid-view').html();
						  $(".page-product .BlogPDP").html(starts);
					 }
				 });
			 }
		}
	});
}else{
    //console.log('else');
    $.ajax({
        type: "GET",
        url: "/blog?limit=3",    
        success: function(msg) {    
            var html = $(msg);
            var starts = html.find('.blog-grid-view').html();
            $(".page-product .BlogPDP").html(starts);
       }
	});
}

$(document).ready(function() {

if($('div.min-order-qty-div').length){
    var $minOrder = $('div.min-order-qty-div').attr('data-min-qty');
        $minOrder = parseFloat($minOrder);
	var motm = parseFloat($("#innerpackqty").val());
	if(motm<=0 || motm==null)
		motm=1;
	$('.form-input.form-input--incrementTotal').attr({'min':$minOrder,'readonly':'readonly'}).val($minOrder);
	var incrementPlus;
	var incrementMinus;
	var buttonPlus  = $('.button[data-action="inc"]');
	var buttonMinus = $('.button[data-action="dec"]');
	var incrementPlus = buttonPlus.click(function(e) {
		e.preventDefault();
		var $n = $(this).closest('.form-increment').find(".form-input--incrementTotal");
		var oldVal = parseFloat($n.val());
		setTimeout(function(){
			$n.val(oldVal+motm );
		},100);
	});
	var incrementMinus = buttonMinus.click(function(e) {
		e.preventDefault();
		var $n = $(this).closest('.form-increment').find(".form-input--incrementTotal");
		var oldVal = parseFloat($n.val());
		var amount = parseFloat($n.val());
		var mm=amount-motm;
		if (mm > $minOrder)
		{
			setTimeout(function(){$n.val(amount-motm);},100);
		}
		else 
		{
			setTimeout(function(){$n.val($minOrder);},100);
		}
	});
}

var out = $("#outstock").val();
var outof = $("#outofstock").val();
var tempstock = $("#tempstock").val();
var artistname = $("#artistname").val();
var pro_availabilty = $("#pro_availabilty").val();      
var consumerimage = $("#consumerimage").val();
if(artistname == null)
{            
	$('.artist-div').hide();
}
if(pro_availabilty == null)
{            
	$('.pro_info.availability').hide();
}
if(consumerimage == null)
{            
	$('.consumer-div').hide();
}

if (out == "OUT OF STOCK")
{
	$('.productView-bottom').hide();
}
else if(outof == "Out of Stock")
{
   $('.productView-bottom').hide();
}
else if(tempstock == "TEMPORARILY OUT OF STOCK")
{
	$('.productView-bottom').hide();
}

$('#notifymeform').submit(function(e) {
    e.preventDefault();
    var email = $('#email').val();
    var product_id = $('#product_id').val();
    $(".error").remove();
    if (email.length < 1) {
      $('#email').after('<span class="error">This field is required</span>');
      return false;
    } else {
      var regEx = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      var validEmail = regEx.test(email);
      if (!validEmail) {
        $('#email').after('<span class="error">Enter a valid email</span>');
        return false;
      }else{
        $.ajax({
             url: "https://dev-demdaco.stage-codal.net/index.php/api/v1/notifyme?email="+email+'&product_id='+product_id,
             method: "GET",
             processData: false,
             contentType: false,
             success: function (data) {
               data = jQuery.parseJSON(data);
                if(data.success==true){
                  $('.instock-notify-div').append('<div class="success">'+data.message+"</div>");
                }else{
                  $('.instock-notify-div').append('<div class="error">'+data.message+"</div>");
                }
             },
             error: function (e) {
                 //error
                 //console.log(e);
             }
            });
            return false;
      }
    }
});

$('.productView-description ul li.artist').removeClass("is-active");
$('#tab-artist').removeClass("is-active");
$('.artistlink a').click(function() {
	$('#tab-artist').addClass("is-active");
	$('#tab-warranty').removeClass("is-active");
	$('.productView-description ul li.warrenty').removeClass("is-active");
	$('.productView-description ul li.artist').addClass("is-active");
});

});   
</script>
