{{#partial "page"}}
    <section class="page">
        <main class="page-content page-content--textCenter create_account_confirm">
            <h1 class="page-heading">{{lang 'create_account.created.heading'}}</h1>
			<div class="cac-max-p">
			<p>You can browse and add items to your cart but cannot checkout until your account is active. Account activation usually takes 1 hour. You will receive an email confirmation when your account setup is complete.</p>
			<p>Customer Care will contact you if we cannot verify your retailer information. If you do not receive an email confirmation within 3 business days or have questions about your new account request, please contact Customer Care at 888.336.3226.</p>
			</div>
			<div class="syfo-btn-mn">
			 <a class="white-button" href="{{create_account.continue_url}}">Start Your First Order</a>
			</div>
           
		   <div class="gray-btnblock">
		     <h3>Want Terms?</h3>
			 <a class="gray-button" href="/credit-application/">Apply for Credit</a>
		  </div> 
		  
		  <div class="gray-btnblock wts-btn">
		    <h3>Want to sell Willow Tree<sup>&reg;</sup>?</h3>
			<a class="gray-button" href="/resources/willow-tree-dealership-policy/">See Willow Tree Dealership Policy</a>
		  </div> 
            
		   
        </main>
    </section>
{{/partial}}
{{> layout/base}}
