<div class="home-sliders">
  <ul class="slider"
	data-slick='{
        "dots": true,
        "arrows": false,
        "infinite": true,
        "autoplay": true,
        "autoplaySpeed": 4000,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1
    }'
	>
      
      
    <li class="even item" style="background-image: url('https://www.demdacoretailers.com/content/hp/dd-hp-holiday10.jpg');">
      <div class="mobile-img"> 
          <img src="https://www.demdacoretailers.com/content/hp/dd-hp-holiday10-m.jpg" alt=" " /> 
      </div>
      <a href="/shop/catalog/holiday/ "> 
          <span class="content win250">
              <h1 class="palatino" style="font-size: 50px; color: white;">Show Special: 10% Off</h1>
              <p class="palatino" style="color: white;">fall and holiday orders of $1500 or more. <br>Offer extended to February 5, 2021</p>
              <p style="width: 200px !important; color: white !important;" class="gray-button">Shop Holiday</p>
          </span>
      </a>
    </li>
    
    <li class="even item" style="background-image: url('https://www.demdacoretailers.com/content/hp/dd-hp-giving-bear.jpg');">
      <div class="mobile-img"> 
          <img src="https://www.demdacoretailers.com/content/hp/dd-hp-giving-bear-m.jpg" alt=" " /> 
      </div>
      <a href="/shop/collections/giving-bear/"> 
          <span class="content">
              <h1 class="palatino" style="font-size: 50px">Give a Little More</h1>
              <p class="palatino">Donate to Children's Mercy Hospital: purchase a Giving Bear<sup style="font-size: 1rem;">&reg;</sup> today!</p>
              <p style="width: 225px !important;" class="gray-button">Shop Giving Bear<sup style="font-size: 1rem;">&reg;</sup></p>
          </span>
      </a>
    </li>
    
  </ul>
</div>

<style>
    @media only screen and (max-width: 1279px){
        span.win250 h1 {
            color: #555 !important;
        }
        span.win250 p {
            color: #555 !important;
        }
    }
</style>
