<article class="card {{#if alternate}}card--alternate{{/if}}" {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"  {{/if}}>
    <figure class="card-figure">
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'sash'}}
                <div class="sale-flag-sash">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'burst'}}
                <div class="starwrap">
                    <div class="sale-text-burst">On Sale!</div>
                    <div class="sale-flag-star"></div>
                </div>
            {{/if}}
        {{/or}}
        
    {{#each custom_fields}}
        {{#if name '===' 'New Release'}}
		 {{#if value '===' 'Yes' }}
            <div class="new-flag-badge">
                    <span class="new-flag-badge-text">New</span>
            </div>
		 {{/if}}
        {{/if}}
    {{/each}}
       
		<a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=image
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
            </div>
        </a>

        <figcaption class="card-figcaption">
            <div class="card-figcaption-body">
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        {{#if settings.data_tag_enabled}}
                            <a class="button button--small card-figcaption-button quickview" data-event-type="product-click" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                        {{else}}
                            <a class="button button--small card-figcaption-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                        {{/if}}
                    {{/if}}
                {{/unless}}
                {{#if show_compare}}
                    <label class="button button--small card-figcaption-button" for="compare-{{id}}">
                        {{lang 'products.compare'}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    </label>
                {{/if}}
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{#if show_cart_action}}
                        {{#if has_options}}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button choose-options" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        {{/if}}
                        {{#if pre_order}}
                            <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button pre-order">{{lang 'products.pre_order'}}</a>
                        {{/if}}
                        {{#if add_to_cart_url }}
                            <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button addtocart">{{lang 'products.add_to_cart'}}</a>
                        {{/if}}
                        {{#if out_of_stock_message }}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button outofstock" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                        {{/if}}
                    {{/if}}
                {{/or}}
            </div>
        </figcaption>
    </figure>
    <div class="card-body">
        {{#and rating show_rating}}
            <p class="card-text" data-test-info-type="productRating">
                <span class="rating--small">
                    {{> components/products/ratings rating=rating}}
                </span>
            </p>
        {{/and}}
        {{#if brand.name}}
            <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
        {{/if}}
        {{#each custom_fields}}
            {{#if name '===' 'Beneficiary'}}
                <div class="beneficiary-logo"><img src="{{value}}" width="150px" style="margin-bottom: 5px; max-width: 150px; margin-left: auto; margin-right: auto;"></div>
            {{/if}}
        {{/each}}
        
        <script>
            window.onload = function(){
            var api = new Yotpo.API(yotpo);
            api.refreshWidgets();
            };
        </script>
        <div style="text-align: center">
		 <div class="yotpo bottomLine" style="display:inline-block" data-product-id="{{id}}"></div>
		</div>
	
		<div class="prd-sku"><p class="card-text">{{sku}}</p></div>
        
        <h4 class="card-title">
            <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
        </h4>
		
		<div class="card-text" data-test-info-type="price">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{> components/products/price price=price}}
            {{else}}
               {{!-  > components/common/login-for-pricing --}} 
            {{/or}}
        </div>
        {{> components/products/bulk-discount-rates}}
		
		{{#or customer (if theme_settings.restrict_to_login '!==' true)}}		
		<div class="ajax-ship" id="{{id}}"></div>		
		<script>
		 $( document ).ready(function() {
		  var gtURL = '{{url}}';
		   var dataid = '{{id}}';
		   $.ajax({
			   url: gtURL,
			   type: 'POST',       
			   dataType:'html', 
			   success: function (html) {	  
				   var getHTML = $(html).find('.p-release-date').html();
				   var divid = '#'+dataid;
				   var stringdate = getHTML.trim().replace("Estimated in stock", "Ships");
				   var finaldate = stringdate.replace(/ /g,"/");
				   $(divid).append(finaldate.replace("Ships/","Ships "));
				   
			   }
		   });
		});  
		</script>	
        {{/or}} 
		
    </div>
</article>
