<section class="productCarousel"
    data-list-name="{{list}}"
    data-slick='{
        "dots": true,        
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 2,
        "slidesToScroll": 2,
        "responsive": [
            {
                "breakpoint": 1279,
                "settings": {
                    "slidesToShow": {{ columns }},
                    "slidesToScroll": 3
                }
            },
            {
                "breakpoint": 599,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 2,
                    "arrows": false
                }
            }
        ]
    }'
>
    {{#each products}}
    <div class="productCarousel-slide">
        {{> components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
    </div>
    {{/each}}
</section>
