<style>
    .yotpo-icon-double-bubble, .yotpo-stars { margin: 0 5px 0 0 !important; }
    div.yotpo.bottomLine { display: inline-block; margin: 0 10px 1px 0;}
    .thumbnail .yotpo a { display: inline-block; }
    div.yotpo.QABottomLine { display: inline-block; }
    .yotpo-main-reviews .yotpo-display-wrapper.yotpo-no-reviews{display: flex; flex-wrap: wrap;}
    .yotpo-main-reviews .yotpo-display-wrapper.yotpo-no-reviews form{order: 1; width: 100%;}
    .yotpo-main-reviews .yotpo-display-wrapper.yotpo-no-reviews .yotpo-nav-content{order: 0; width: 100%; margin-bottom: 20px;}
</style>

<div class="productView" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
{{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert-success success}}
        {{/if}}
    {{/each}}
{{#if product.availability '==' 'OUT OF STOCK'}}
    
         {{#if product.related_products}}
<div class="home-trending related-out-trending">
    <h2 class="palatino">You Might Also Like</h2>
            {{#if settings.data_tag_enabled}}
                {{> components/products/related-carousel products=product.related_products columns=6 list="You Might Also Like"}}
            {{else}}
                {{> components/products/related-carousel products=product.related_products columns=6}}
            {{/if}}
        </div>
        {{/if}}
        {{/if}}


        {{#if product.out_of_stock}}
                   {{#if product.related_products}}
<div class="home-trending related-out-trending">
    <h2 class="palatino">You Might Also Like</h2>
            {{#if settings.data_tag_enabled}}
                {{> components/products/related-carousel products=product.related_products columns=6 list="You Might Also Like"}}
            {{else}}
                {{> components/products/related-carousel products=product.related_products columns=6}}
            {{/if}}
        </div>
        {{/if}}
                {{/if}}

{{#if product.availability '==' 'TEMPORARILY OUT OF STOCK'}}

         {{#if product.related_products}}
<div class="home-trending related-out-trending">
    <h2 class="palatino">You Might Also Like</h2>
            {{#if settings.data_tag_enabled}}
                {{> components/products/related-carousel products=product.related_products columns=6 list="You Might Also Like"}}
            {{else}}
                {{> components/products/related-carousel products=product.related_products columns=6}}
            {{/if}}
        </div>
        {{/if}}
        {{/if}}        

<section class="productView-images" data-image-gallery>

    <div class="mobile-meta-show">
        <div class="productView-details">
            <div class="productView-product">
    {{#each product.custom_fields}}
                {{#if name '===' 'New Release' }}
                    {{#if value '===' 'Yes' }}
                    <div class="new-flag-badge">
                        <span class="new-flag-badge-text">New</span>
                    </div>                 
                    {{/if}}
                {{/if}}
            {{/each}}       
   
            <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
            {{#each product.custom_fields}}
                {{#if name '===' 'Beneficiary'}}
                    <div class="beneficiary-logo"><img src="{{value}}" width="150px" style="margin-bottom: 10px;"></div>
                {{/if}}
            {{/each}}
            
            {{#each product.custom_fields}}
                {{#if name '===' 'Collection Name'}}
                <div class="artist-name">{{value}}</div>
                {{/if}}
            {{/each}}
            <div class="sku-row">
                <dt class="productView-info-name sku-label"{{#unless product.sku}} style="display: none;"{{/unless}}>{{lang 'products.sku'}}</dt>
                <dd class="productView-info-value" data-product-sku{{#if schema}} itemprop="sku"{{/if}}>{{product.sku}}</dd>
            </div> 
            </div>  
            </div>         
</div>
        {{!--
            Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
            for variant/rule image replacement
        --}}        
        <figure class="productView-image"
                data-image-gallery-main
                {{#if product.main_image}}
                data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                {{/if}}
                >
            <div class="productView-img-container">
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                        target="_blank"{{#if schema}} itemprop="image"{{/if}}>
                {{/if}}
                {{> components/common/responsive-img
                    image=product.main_image
                    class="productView-image--default"
                    fallback_size=theme_settings.product_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                    otherAttributes="data-main-image"
                }}
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    </a>
                {{/if}}
            </div>                 
        </figure>
        <ul class="productView-main-slider"{{#gt product.images.length 0}} data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "slidesToShow": 1,
                "dots": true,
                "arrows": false,
                "slidesToScroll": 1
            }'{{/gt}}>
            {{#each product.images}}
                <li class="productView-main">
                    <a
                        class="productView-main-link"
                        href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                        data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                        data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                    >
                    {{> components/common/responsive-img
                        image=this
                        fallback_size=../theme_settings.product_size
                        lazyload=../theme_settings.lazyload_mode
                    }}
                    </a>
                </li>
            {{/each}}
        </ul>
         <div class="rollover_img">
            <span>Rollover image to zoom</span>
        </div>   
        <ul class="productView-thumbnails"{{#gt product.images.length 5}} data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "slidesToShow": 5,
                "dots": true,
                "slidesToScroll": 1
            }'{{/gt}}>
            {{#each product.images}}
                <li class="productView-thumbnail">
                    <a
                        class="productView-thumbnail-link"
                        href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                        data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                        data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                    >
                    {{> components/common/responsive-img
                        image=this
                        fallback_size=../theme_settings.productview_thumb_size
                        lazyload=../theme_settings.lazyload_mode
                    }}
                    </a>
                </li>
            {{/each}}
        </ul>
        {{#if product.videos.list.length}}
        <div class="mobile-hide">
            {{> components/products/videos product.videos}}
        </div>
        {{/if}}
    </section>
    <section class="productView-details">
        <div class="productView-product">
            <div class="mobile-meta-hide">
            {{#each product.custom_fields}}
                {{#if name '===' 'New Release' }}
                    {{#if value '===' 'Yes' }}
                    <div class="new-flag-badge">
                        <span class="new-flag-badge-text">New</span>
                    </div>                 
                    {{/if}}
                {{/if}}
            {{/each}}       
   
            <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
            {{#each product.custom_fields}}
                {{#if name '===' 'Beneficiary'}}
                    <div class="beneficiary-logo"><img src="{{value}}" width="150px" style="margin-bottom: 10px;"></div>
                {{/if}}
            {{/each}}
            
            {{#each product.custom_fields}}
                {{#if name '===' 'Collection Name'}}
                <div class="artist-name">{{value}}</div>
                {{/if}}
            {{/each}}
            <div class="sku-row">
                <dt class="productView-info-name sku-label"{{#unless product.sku}} style="display: none;"{{/unless}}>{{lang 'products.sku'}}</dt>
                <dd class="productView-info-value" data-product-sku{{#if schema}} itemprop="sku"{{/if}}>{{product.sku}}</dd>
            </div>      
            </div>      

            {{#if product.brand}}
                <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                    <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
                </h2>
            {{/if}}

             {{#or customer (if theme_settings.restrict_to_login '!==' true)}}                 
            <div class="productView-price">                             
                    {{> components/products/price price=product.price schema_org=schema}}
                     {{#if product.call_for_price}}
                        <p class="productView-price">
                            <span>{{product.call_for_price}}</span>
                        </p>
                    {{/if}}               
            </div>
            <dl class="productView-info top_info msrp">
                    {{#if product.price.rrp_without_tax.formatted }}
                        <div class="pro_info">
                            <dt class="productView-info-name">MSRP:</dt>
                            <dd class="productView-info-value">
                                {{ product.price.rrp_without_tax.formatted }}
                            </dd>
                        </div>
                    {{/if}}
                    </dl>
             {{else}}                    
                {{/or}}
                
              <div class="yotpo-btns-container">
                <div class="yotpo bottomLine" data-product-id="{{ product.id }}"> </div>
                <div class='yotpo QABottomLine' data-appkey='ZZkOYKLamlBaA0u28xAEpBkW5uX4JtbSmmlKcGV6' data-product-id='{{ product.id }}'></div>
               </div>
            
            

            {{{region name="product_below_price"}}}
            <div class="productView-rating"{{#if product.num_reviews '>' 0}}{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}{{/if}}>
                {{#if settings.show_product_rating}}
                    {{#if product.num_reviews '>' 0}}
                        {{#if schema}}
                            <meta itemprop="ratingValue" content="{{product.rating}}">
                            <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                            <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                        {{/if}}
                    {{/if}}
                    {{> components/products/ratings rating=product.rating}}
                    <span class="productView-reviewLink">
                        {{#if product.num_reviews '>' 0}}
                            <a href="{{product.url}}#product-reviews">
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            </a>
                        {{else}}
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        {{/if}}
                    </span>
                {{/if}}
                {{#if settings.show_product_reviews}}
                    <span class="productView-reviewLink">
                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                           {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                           {{lang 'products.reviews.new'}}
                        </a>
                    </span>
                    {{> components/products/modals/writeReview}}
                {{/if}}
            </div> 
      
      
    {{!-- Note: 'p-release-date' is for using in listing page for ship feature.(under the card.html) START --}} 
      <div class="p-release-date" style="display:none;">
       {{#if product.release_date }}
                <p class="release-date">{{product.release_date}}</p>
            {{/if}} 
      </div>
    {{!-- Note: CLOSE --}}  
    
      
           {{#or customer (if theme_settings.restrict_to_login '!==' true)}}

            {{#if product.release_date }}
                <p class="release-date">{{product.release_date}}</p>
            {{/if}}           
            
            {{else}}
            {{/or}}
            {{#if product.availability '==' 'IN STOCK'}}
            <div class="pro_info availability">{{product.availability}}</div>            
             {{else if product.availability '==' 'In Stock'}}
            <div class="pro_info availability">{{product.availability}}</div> 
            {{else}}
            <div class="pro_info availability out">{{product.availability}}</div>                 
            {{/if}}            
            {{#if product.description}}
                <div class="product-desc-top">{{{product.description}}}</div>
            {{/if}}

            <div class="artist-div">
             {{#each product.custom_fields}}
                {{#if name '===' 'Artist Image'}}
                    <div class="artistImage">
                        <img src="{{{value}}}"/> 
                    </div>
                {{/if}}
            {{/each}}
            <div class="artist-right">
             {{#each product.custom_fields}}
                {{#if name '===' 'Artist Name'}}
                    <div class="artistName">
                        <span class="created">Created by</span>
                        <span class="artistNameBlog">{{{value}}}</span>
                    </div>          
                {{/if}}
      {{/each}}
                    <div class="artistlink">
                        <a href="#tab-artist-link">Learn more about the artist</a>
                    </div>
                </div>
            </div>

            <div class="consumer-div">
             {{#each product.custom_fields}}
                {{#if name '===' 'Consumer Image'}}
                    <div class="consumerImage">
                        <img src="{{{value}}}"/> 
                    </div>
                {{/if}}
            {{/each}}             
            {{#each product.custom_fields}}
                {{#if name '===' 'Consumer Link'}}
                    <div class="consumerlink">
                        <a href="{{{value}}}">Learn more about our consumer testing</a>
                    </div>
                {{/if}}
            {{/each}}
            </div>

            {{product.detail_messages}}
            <dl class="productView-info top_info">
                {{#all product.weight theme_settings.show_product_weight}}
                <div class="pro_info">
                    <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                    <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                </div>
                {{/all}}
                {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                <div class="pro_info">
                    <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                    <dd class="productView-info-value" data-product-width>
                        {{product.width}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                </div>
                <div class="pro_info">
                    <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                    <dd class="productView-info-value" data-product-height>
                        {{product.height}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                </div>
                <div class="pro_info">
                    <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                    <dd class="productView-info-value" data-product-depth>
                        {{product.depth}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                </div>
                {{/all}}
      </dl> 
        </div>
    </section>   

    <section class="productView-details productView-bottom">
        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}       
			<div class="productView-options">            
				<form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
					  data-cart-item-add>
					<input type="hidden" name="action" value="add">
					<input type="hidden" name="product_id" value="{{product.id}}"/>
					<div data-product-option-change style="display:none;">
						{{#each product.options}}
							{{{dynamicComponent 'components/products/options'}}}
						{{/each}}
					</div>
					<div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
						<label class="form-label form-label--alternate">
							{{lang 'products.current_stock'}}
							<span data-product-stock>{{product.stock_level}}</span>
						</label>
					</div>              
					
					{{#if product.can_purchase}}
						{{> components/products/add-to-cart}}
					{{/if}}


				</form>
				{{#if settings.show_wishlist}}
					{{> components/common/wishlist-dropdown}}
				{{/if}}
			</div>
        {{else}}
			<div class="wholesale-login-button">
			   <a data-reveal-id="popupLoginWindow" href="{{urls.auth.login}}">{{lang 'categories.wholesalepricing_text'}}</a>
			</div>
        {{/or}}

        {{> components/common/share}}
        {{#if product.videos.list.length}}
        <div class="mobile-show">
            {{> components/products/videos product.videos}}
        </div>
        {{/if}}       
    </section>
    
    <section class="productView-details">
     <div class="quickview-detail">
       <a href="{{product.url}}">View Full Details</a>
     </div>
     {{#if product.release_date }}
     <section class="instock-notify-div">
        <p>Enter your email address to be notified when this item is in stock.</p> 
        <form action="" name="notifymeform" id="notifymeform">
            <input type="hidden" name="product_id" id="product_id" value="{{ product.id }}" class="form-input">
            <div class="field">
                <input type="email" name="email" id="email" class="form-input" placeholder="Your Email Address">
            </div>
            <div class="actions">
                <input type="submit" class="button" value="Notify Me">
            </div>
        </form>
     </section>
     {{/if}} 
  </section>
  

    
    {{#if theme_settings.show_product_details_tabs}}    
    <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>        
            {{> components/products/description-tabs}}
        </article>
        {{else}}
        <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>        
            {{> components/products/description}}
        </article>
        {{/if}}
    
<!--    <div class="yotpo-testimonial-div">-->
<!--        <h2 class="palatino">What Our Consumers are Saying</h2>-->
<!--    <div id='yotpo-testimonials-custom-tab'></div>-->
<!--<script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/ZZkOYKLamlBaA0u28xAEpBkW5uX4JtbSmmlKcGV6/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>-->
<!--</div>-->

    <!--<div class="product-blog">-->
    <!--    <h2 class="palatino">Learn More</h2>-->
    <!--    <div class="BlogPDP"></div>-->
    <!--</div>-->

    <div class="yotpo yotpo-pictures-widget" data-gallery-id="5dde71b5f90f766fd0a312bd"></div>
    
    <div class="yotpo-main-reviews">
        <!--Retailer Ratings & Reviews-->
        <h2 class="palatino">What Our Consumers are Saying</h2>
        <div class="yotpo yotpo-main-widget" 
        data-product-id="{{ product.id }}"
        data-price="{{ product.price.without_tax.value }}"
        data-currency="{{ currency_selector.active_currency_code }}" 
        data-name="{{ product.title }}" 
        data-url="{{ product.url }}" 
        data-image-url="{{getImage product.main_image}}" 
        data-description="{{ product.description }}"> 
        </div> 
    </div>   

{{#if product.availability '==' 'IN STOCK'}}

         {{#if product.related_products}}
<div class="home-trending related-trending">
    <h2 class="palatino">You Might Also Like</h2>
            {{#if settings.data_tag_enabled}}
                {{> components/products/related-carousel products=product.related_products columns=6 list="You Might Also Like"}}
            {{else}}
                {{> components/products/related-carousel products=product.related_products columns=6}}
            {{/if}}
        </div>
        {{/if}}
        {{/if}}

{{#if product.availability '==' 'In Stock'}}

         {{#if product.related_products}}
    <div class="home-trending related-trending">
        <h2 class="palatino">You Might Also Like</h2>
            {{#if settings.data_tag_enabled}}
                {{> components/products/related-carousel products=product.related_products columns=6 list="You Might Also Like"}}
            {{else}}
                {{> components/products/related-carousel products=product.related_products columns=6}}
            {{/if}}
        </div>
        {{/if}}
        {{/if}}     

</div>


<div id="previewModal" class="modal modal--large after-add-cart-product" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

{{#each product.custom_fields}}
    {{#if name '===' 'Inner Pack Qty'}}
   <input type="hidden" name="innerpackqty" id="innerpackqty" value="{{value}}" >
    {{/if}}
{{/each}}
{{#each product.custom_fields}}
    {{#if name '===' 'Artist Name'}}
   <input type="hidden" name="artistname" id="artistname" value="{{value}}" >
    {{/if}}
{{/each}}
{{#each product.custom_fields}}
    {{#if name '===' 'Consumer Image'}}
   <input type="hidden" name="consumerimage" id="consumerimage" value="{{value}}" >
    {{/if}}
{{/each}}

{{#if product.availability}}
<input type="hidden" name="pro_availabilty" id="pro_availabilty" value="{{product.availability}}" >                
{{/if}}

{{#if product.availability '==' 'OUT OF STOCK'}}     
   <input type="hidden" name="outstock" id="outstock" value="OUT OF STOCK" >
{{/if}}
{{#if product.availability '==' 'Out of Stock'}}     
   <input type="hidden" name="outofstock" id="outofstock" value="Out of Stock" >
{{/if}}
{{#if product.availability '==' 'TEMPORARILY OUT OF STOCK'}}     
   <input type="hidden" name="tempstock" id="tempstock" value="TEMPORARILY OUT OF STOCK" >
{{/if}}

<style>
.error{color: red;}
.success{color: green;}
@keyframes nodeInserted {
from {
outline-color: #fff;
}
to {
outline-color: #000;
}
}
div.yotpo.bottomLine .star-clickable {
animation-duration: 0.01s;
animation-name: nodeInserted;
}
</style>
<script type="text/javascript">
document.addEventListener('animationstart', function(event) {
if (event.animationName == 'nodeInserted') {
//console.log('removing blank yotpo widgets');
var reviews = jQuery('.total-reviews-search').attr('total-reviews-search');
if (reviews == '0') {
jQuery(".yotpo-testimonial-div").remove();
jQuery(".yotpo-main-reviews .yotpo-small-box.yotpo-nav").remove();
jQuery(".yotpo-main-reviews .yotpo-regular-box.yotpo-bottomline").remove();
}
}
}, true);

</script>
